# .idea
*/.idea/*

# .vscode
*/.vscode/*

# .vs
*/.vs/*

# venv and env
*/venv/*

# __pycache__
*/__pycache__/*

# .pytest_cache
*/.pytest_cache/*

# .mypy_cache
*/.mypy_cache/*

# .coverage
*/.coverage

# .cache
*/.cache/*

# .DS_Store
*/.DS_Store

# .ipynb_checkpoints
*/.ipynb_checkpoints/*

# .pickle
*/.pickle
.idea
.DS_Store
/hq_live_server/*
/Presentation/Misc/*

*/logs/*

*/downloads/*